# 데이터 로드

In [9]:
# unzip한 csv는 가급 push하지 말아주세요~
# !unzip 경기_한글.zip 
# !unzip 경기도_숫자.zip 
# !unzip 서울_한글.zip 
# !unzip 서울_숫자.zip

In [10]:
import pandas as pd

path = './서울_한글.csv'
# path = './서울_숫자.csv'
# path = './경기_한글.csv'
# path = './경기도_숫자.csv'

In [11]:
df = pd.read_csv(path)
print(df.shape)
df.head()

(3589041, 12)

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이
0,강남구,개포동,전세,77.75,33000,0,2.0,아파트,2.5,1941.15,2014.0,26.0
1,강남구,개포동,전세,79.97,34000,0,2.0,아파트,2.5,1941.15,2014.0,27.0
2,강남구,개포동,전세,79.97,28000,0,1.0,아파트,2.5,1941.15,2014.0,27.0
3,강남구,개포동,전세,79.97,35000,0,2.0,아파트,2.5,1941.15,2014.0,27.0
4,강남구,개포동,월세,104.43,40000,40,8.0,아파트,2.5,1941.15,2014.0,30.0

In [17]:
tomany = ['동', '월세(만원)', '종가']
for col in df.columns:
    if col in tomany : continue
    print(col," : ", df[col].unique())

시/군/구  :  ['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
전월세구분  :  ['전세' '월세']
전용면적(㎡)  :  [ 77.75   79.97  104.43  ... 208.33   14.745  26.936]
보증금(만원)  :  [33000 34000 28000 ...  5644  9022  7584]
층  :  [  2.   1.   8.   9.   6.   7.   3.   4.   5.  11.  14.  13.  12.  10.
  15.  23.  20.  19.  18.  24.  22.  17.  26.  27.  44.  29.  21.  30.
  40.  25.  38.  45.  39.  33.  31.  28.  49.  50.  16.  41.  -1.  35.
  32.  36.  34.  42.  37.  55.  47.   0.  51.  53.  43.  48.  -2.  60.
  66.  63.  46.  52.  61.  -6.  58.  54.  64.  62.  59.  68.  57.  67.
  -3.  56.  -4.  65. 501.  69. 401. 201.]
구분  :  ['아파트' '오피스텔' '연립다세대']
한국은행기준금리  :  [2.5  2.25 2.   2.75 3.25 3.   1.25 0.75 0.5  1.75 1.5  1.  ]
년도  :  [2014. 2015. 2013. 2012. 2011. 2020. 2021. 2019. 2018. 2017. 2016. 2022.]
건물나이  :  [26. 27. 30. 10. 32. 31. 28. 22. 23.  9. 18.  7. 12. 11. 29. 17.  0.  1.
 13. 14.  6. 15. 25. 24. 35.  8. 36. -2. 19. 20. 16. 33.  3.  2. 21. 37.
 34. 38.  5.  4. -4. 44. 43. 39. 45. 42. 46. 41. 40. 48. 49. 52. 53. -1.
 -3. 47. 58. 51. 50. 89. 59. -5. 57. 88. -6. 56. -8. 72. -9. -7. 69. 86.
 55. 64. 54. 80. 81. 79. 61. 60. 66. 82. 62. 65.]

In [19]:
print(df['건물나이'].value_counts())

0.0     232519
2.0     175977
1.0     149452
4.0     148806
3.0     131896
         ...
69.0         1
72.0         1
82.0         1
62.0         1
88.0         1
Name: 건물나이, Length: 84, dtype: int64