### 데이터 불러오기
1. 판다스 사용
2. csv 파일 불러오기

In [1]:
import pandas as pd

In [4]:
mart_csv = pd.read_csv('./서울시 대규모점포 인허가 정보.csv', encoding='cp949')
mart_csv.dtypes

개방자치단체코드      int64
관리번호          int64
인허가일자        object
인허가취소일자     float64
영업상태코드        int64
영업상태명        object
상세영업상태코드     object
상세영업상태명      object
폐업일자         object
휴업시작일자       object
휴업종료일자       object
재개업일자        object
전화번호         object
소재지면적       float64
소재지우편번호      object
지번주소         object
도로명주소        object
도로명우편번호      object
사업장명         object
최종수정일자       object
데이터갱신구분      object
데이터갱신일자      object
업태구분명        object
좌표정보(X)     float64
좌표정보(Y)     float64
점포구분명        object
dtype: object

### 데이터 전처리
1. 필요없는 column drop하기
2. X좌표, Y좌표 얻기
3. 결측치 채우기, 자료형 통일하기

In [16]:
mt_df = mart_csv[['사업장명', '인허가일자', '폐업일자', '좌표정보(X)', '좌표정보(Y)']]
mt_df.loc[:, ('인허가일자',)] = mt_df['인허가일자'].str.replace('-', '')
mt_df.loc[:, ('폐업일자',)] = mt_df['폐업일자'].fillna('20300101')
mt_df.loc[:, ('폐업일자',)] = mt_df['폐업일자'].str.replace('-', '')
mt_df

                 사업장명     인허가일자      폐업일자        좌표정보(X)        좌표정보(Y)
0           마리오아울렛 1관  20130906  20300101  189943.234285  441784.247519
1           마리오아울렛 3관  20120913  20300101  189759.713051  441814.115921
2           롯데슈퍼 목동2점  20120405  20300101  188700.851170  448020.090999
3             영등포유통상가  19990531  20300101  190555.768992  446698.814323
4           롯데슈퍼 방배2점  20120424  20300101  198984.364832  443229.835879
..                ...       ...       ...            ...            ...
973        롯데마이슈퍼 장위점  20120521  20300101  204208.631201  457844.348011
974        롯데마이슈퍼 정릉점  20120521  20300101  201548.495616  455659.817852
975  롯데쇼핑(주) 롯데슈퍼 역촌점  20120320  20300101  193083.765686  455978.010582
976     롯데백화점 건대스타시티점  20080822  20300101  206217.434726  448506.218744
977   롯데쇼핑(주)롯데마트 강변점  19980323  20300101  208394.416382  448165.280000

[978 rows x 5 columns]

### 데이터 내보내기
1. csv 파일로 data_frame 내보내기

In [17]:
mt_df.to_csv('./대형마트 데이터.csv', encoding='cp949')